<ng-container *ngIf="call && source">
  <ng-container
    *ngIf="source.src; else noSrc"
  >
    <a
      class="source configure-source"
      [ngClass]="{'known': source.label != null, 'unknown': source.label == null, 'clickable': isLabelClickable}"
      (click)="onLabelClick()"
      [title]="formatSrcId(source.src)"
    >{{ source.label ?? formatSrcId(source.src) }}</a>

    <div class="label-form" [ngClass]="{ visible: isConfiguringUnitLabel }">
      <ng-container *ngIf="!isAdminAuthenticated">
        <rdio-scanner-admin-login class="modal" [focused]="true" (blur)="this.isConfiguringUnitLabel = false">
          Enter admin password to configure unit label
        </rdio-scanner-admin-login>
      </ng-container>
      <form
        *ngIf="isAdminAuthenticated"
        class="mat-elevation-z8"
        autocomplete="off"
        [formGroup]="unitLabelForm"
        (ngSubmit)="this.isConfiguringUnitLabel = !submitUnitLabelConfiguration()"
      >
        <mat-form-field>
          <input
            matInput
            autocomplete="off"
            formControlName="label"
            [placeholder]="'Unit label: ' + formatSrcId(source.src)"
            onfocus="this.select()"
            [cdkTrapFocusAutoCapture]="isConfiguringUnitLabel"
            [cdkTrapFocus]="isConfiguringUnitLabel"
          >
        </mat-form-field>

        <button
          mat-button
          color="warn"
          class="delete-button"
          type="button"
          [disabled]="source.label == null || isDeleting"
          (click)="onDeleteClick()"
          onclick="return false;"
        >{{ !didClickDelete ? 'Delete' : 'Really?' }}</button>
      </form>
    </div>
  </ng-container>

  <ng-template #noSrc><em>{{ source.label ?? '?' }}</em></ng-template>
</ng-container>
