$led-blue: rgb(41, 121, 255);
$led-cyan: rgb(0, 229, 255);
$led-green: rgb(0, 230, 118);
$led-magenta: rgb(213, 0, 249);
$led-orange: rgb(255, 145, 0);
$led-red: rgb(255, 23, 68);
$led-white: rgb(255, 255, 255);
$led-yellow: rgb(255, 234, 0);

:host {
  box-sizing: border-box;
  display: block;
  max-height: 100%;
  max-width: 640px;
  min-width: 0;
  margin: 0 5px;
}

.rdio-control {
  .row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 12px;

    .rdio-button {
      box-sizing: content-box;
      flex: 1;
      line-height: normal;
    }

    .spacer {
      display: block;
      width: 24px;
    }
  }

  .paused-elapsed-timer {
    color: $led-green;
  }
}

.rdio-display {
  background: rgb(209, 238, 238);
  box-shadow: 2px 2px 4px rgb(0, 0, 0) inset, 1px 1px 2px 1px rgb(255, 255, 255);
  color: rgba(0, 0, 0, 0.8);
  cursor: default;
  display: block;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  padding: 8px;
  max-height: 60vh;

  &.idle {
    background: rgb(190, 190, 174);

    .avoid,
    .patched {
      color: rgb(190, 190, 174);
    }
  }

  * {
    overflow: hidden;
    text-overflow: clip;
    white-space: nowrap;
  }

  .rdio-header {
    font-size: 1.3em;
    margin-bottom: 20px;

    .rdio-queue {
      &.has-calls .value {
        color: $led-green;

        // Add text outline, for contrast
        text-shadow:
          -1px -1px 0 rgba(0, 0, 0, 0.9),
           1px -1px 0 rgba(0, 0, 0, 0.9),
          -1px  1px 0 rgba(0, 0, 0, 0.9),
           1px  1px 0 rgba(0, 0, 0, 0.9);
      }

      > span {
        display: inline-block;
      }
      .queue-length {
        margin-right: 10px;
        min-width: 45px;
      }
      .queue-duration {
        min-width: 80px;
      }
    }
  }

  .units {
    > span {
      display: inline-block;
      width: 8rem;
      text-align: center;
      text-overflow: ellipsis;

      &.active {
        font-weight: bold;
        width: 9rem;
      }
    }

    &.labels > .active {
      font-size: 1.2em;
    }
    &.meta > .active {
      font-size: 1.1em;
    }
  }

  .auth {
    align-items: center;
    display: flex;
    flex-direction: row;
    height: 100%;
    justify-content: center;
    left: 0;
    position: absolute;
    top: 0;
    visibility: hidden;
    width: 100%;

    &.visible {
      visibility: visible;
    }

    form {
      background: rgb(240, 240, 240);
      border-radius: 8px;
      padding: 8px 32px;

      input {
        text-align: center;
      }
    }
  }

  .flag {
    background: rgba(0, 0, 0, 0.8);
    border-radius: 3px;
    color: rgb(209, 238, 238);
    display: none;
    margin-left: 4px;
    opacity: 0.87;
    padding: 0 3px;
  }

  .flagged {
    display: block;
  }

  .wrapper {
    position: relative;
    max-height: 40vh;
    overflow: hidden;
  }

  .row {
    display: flex;
    flex-direction: row;
    height: 20px;
    justify-content: space-between;

    &.big {
      font-size: 24px;
      height: 32px;
      line-height: 32px;
    }

    &.right {
      justify-content: flex-end;
    }

    &.small {
      font-size: 12px;
      height: 14px;
      line-height: 14px;
    }
  }

  .history {
    border-collapse: collapse;
    font-size: 11px;
    table-layout: fixed;
    width: 100%;

    td,
    th {
      padding: 0 6px;
      text-align: start;

      &.time,
      &.duration {
        width: 10%;
      }

      &.system {
        width: 15%;
      }

      &.talkgroup {
        width: 25%;
      }

      &.unit {
        // Unit labels take up the most space, so afford them the most
        width: 100%;
        text-overflow: ellipsis;
      }
    }

    th {
      color: rgba(0, 0, 0, 0.4);
      font-weight: 400;
      text-transform: uppercase;
    }

    tr {
      height: 21px;

      &.replaying {
        $replaying-row: &;

        font-weight: 700;

        > :first-child::before {
          content: '⬤';
          position: absolute;
          left: -8px;

          @at-root {
            #{$replaying-row}.led-blue > :first-child::before { color: $led-blue; }
            #{$replaying-row}.led-cyan > :first-child::before { color: $led-cyan; }
            #{$replaying-row}.led-green > :first-child::before { color: $led-green; }
            #{$replaying-row}.led-magenta > :first-child::before { color: $led-magenta; }
            #{$replaying-row}.led-orange > :first-child::before { color: $led-orange; }
            #{$replaying-row}.led-red > :first-child::before { color: $led-red; }
            #{$replaying-row}.led-white > :first-child::before { color: $led-white; }
            #{$replaying-row}.led-yellow > :first-child::before { color: $led-yellow; }
          }
        }
      }
    }

    tbody > tr {
      border-top: 1px solid rgba(0, 0, 0, 0.2);
    }
  }
}

.rdio-status {
  align-items: center;
  display: flex;
  flex-direction: row;
  min-height: 1.5rem;

  .branding {
    color: rgb(64, 64, 64);
    flex: 1;
    font-size: 16px;
    font-weight: normal;
    letter-spacing: 2px;
    line-height: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.7), 1px 1px 1px rgba(255, 255, 255, 0.3);
    text-transform: uppercase;
    white-space: nowrap;
  }

  .led {
    background: rgb(80, 80, 80);
    display: block;
    height: 12px;
    margin-left: 24px;
    width: 24px;

    &.on {
      background: $led-green;
      box-shadow: 0 0 6px 3px $led-green;

      &.blue {
        background: $led-blue;
        box-shadow: 0 0 6px 3px $led-blue;
      }

      &.cyan {
        background: $led-cyan;
        box-shadow: 0 0 6px 3px $led-cyan;
      }

      &.green {
        background: $led-green;
        box-shadow: 0 0 6px 3px $led-green;
      }

      &.magenta {
        background: $led-magenta;
        box-shadow: 0 0 6px 3px $led-magenta;
      }

      &.orange {
        background: $led-orange;
        box-shadow: 0 0 6px 3px $led-orange;
      }

      &.red {
        background: $led-red;
        box-shadow: 0 0 6px 3px $led-red;
      }

      &.white {
        background: $led-white;
        box-shadow: 0 0 6px 3px $led-white;
      }

      &.yellow {
        background: $led-yellow;
        box-shadow: 0 0 6px 3px $led-yellow;
      }
    }

    &.paused {
      animation: led-blink 2s step-end infinite;
    }

    @keyframes led-blink {
      50% {
        background: rgb(80, 80, 80);
        box-shadow: none;
      }
    }
  }
}

.rdio-display,
.rdio-status {
  margin-bottom: 24px;
}

.rdio-help {
  bottom: 24px;
  opacity: 0.3;
  position: absolute;
  right: 24px;
}
