.label-form {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 100%;
  justify-content: center;
  left: 0;
  position: absolute;
  top: 0;
  visibility: hidden;
  width: 100%;
  z-index: 10;

  &.visible {
    visibility: visible;
  }

  form {
    display: flex;
    flex-direction: column;
    background: rgb(240, 240, 240);
    border-radius: 8px;
    padding: 8px 32px;
    position: relative;
    min-width: 400px;

    .close-button {
      position: absolute;
      top: 4px;
      right: 4px;
    }

    input {
      text-align: center;

      &.mat-input-element {
        color: black;
      }
    }

    .action-buttons {
      display: flex;
      gap: 8px;
      justify-content: flex-end;
      align-items: center;
      flex-wrap: wrap;

      button {
        text-transform: uppercase;

        mat-icon {
          margin-right: 4px;
        }
      }

      .delete-button {
        margin-left: auto;
      }
    }
  }
}
