.label-form {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 100%;
  justify-content: center;
  left: 0;
  position: absolute;
  top: 0;
  visibility: hidden;
  width: 100%;
  z-index: 10;

  &.visible {
    visibility: visible;
  }

  form {
    display: flex;
    flex-direction: column;
    background: rgb(240, 240, 240);
    border-radius: 8px;
    padding: 8px 32px;

    input {
      text-align: center;
    }

    .delete-button {
      align-self: end;
      text-transform: uppercase;
    }
  }
}
