<form [formGroup]="form" (ngSubmit)="login()">
    <p class="mat-body-1">
        <span #textRef><ng-content></ng-content></span>
        <span *ngIf="!textRef.childNodes.length">Please enter the admin password to gain access to the administrative dashboard</span>
    </p>
    <mat-form-field hideRequiredMarker>
        <mat-label>Password</mat-label>
        <input
            matInput
            formControlName="password"
            type="password"
            required
            [cdkTrapFocusAutoCapture]="this.focused"
            [cdkTrapFocus]="this.focused"
        >
        <mat-error>{{ message }}</mat-error>
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit" [disabled]="form.disabled || form.invalid">Login</button>
</form>
